* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #032D68;
    }

body * {
    font-family: "Archivo Black", sans-serif;
    font-weight:400;
    font-style: normal;
    color: #ffff;
}

#container {
    width: 360px;
    margin: 56px auto 0px;
}

#profile {
    text-align: center;
    padding: 24px;

}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

/* links */
ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li  a{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    border-radius: 8px;
    
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);


    -webkit-backdrop-filter: blur(4px);
}